@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    h1 {
        @apply
        text-6xl
        md:text-8xl
        text-foreground
        font-extrabold
        tracking-wide;
    }

    h2 {
        @apply
        text-4xl
        md:text-6xl
        text-default-500
        font-semibold
        tracking-wide
    }

    h3 {
        @apply
        text-2xl
        md:text-4xl
        text-default-500
        font-extrabold
        tracking-wide
    }
}