@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    scroll-behavior: smooth;
  }

  * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    @apply text-noir
  }

  main {
    @apply bg-ivory w-full h-full
  }

  h1 {
    font-family: "JetBrains Mono", monospace;
    @apply text-4xl lg:text-6xl w-fit antialiased tracking-tighter font-extrabold
  }

  h2 {
    @apply pb-1 border-b border-teal w-fit tracking-tight antialiased font-bold text-4xl lg:text-3xl
  }

  h3 {
    font-family: "JetBrains Mono", monospace;
    @apply text-teal font-extrabold tracking-wide antialiased text-xl lg:text-2xl
  }

  h4 {
    @apply pb-1 text-teal font-light tracking-widest antialiased lg:text-xl
  }

  p,
  a {
    @apply text-[18px] font-light antialiased tracking-tight lg:text-[25px] text-balance
  }

  .wrapper {
    @apply px-5 sm:px-10 md:px-36 lg:px-[25%]
  }
}


@layer components {
  #logo {
    font-family: "JetBrains Mono";
    @apply text-3xl lg:text-5xl font-extralight tracking-tighter
  }

  #logo span {
    @apply text-teal font-bold
  }

  /* Navbar */
  #mobileMenu {
    right: -100%;
    transition: right 0.45s ease;
  }

  #mobileMenu.active {
    right: 0;
    transition: right 0.45s ease;
  }

  .btn {
    @apply py-2 px-5 bg-teal w-full sm:w-fit border-2 border-teal transition-all duration-300 hover:bg-transparent hover:text-noir font-bold hover:border-noir
  }

  .btn div {
    @apply w-full h-full flex justify-center items-center gap-2
  }

  .btn span {
    @apply text-ivory hover:text-noir
  }
}